<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- board-mapper.xml파일에서 parameterType에 지정하는 이름을 alias값인 ...board로 지정 -->
        <typeAlias type="com.example.practice_mybatis.domain.Board" alias="boardEntity"/>
        <typeAlias type="com.example.practice_mybatis.dto.request.CreateBoardRequestDto"
                   alias="createRequestBoard"></typeAlias>
        <typeAlias type="com.example.practice_mybatis.dto.response.GetBoardResponseDto"
                   alias="getResponseBoard"></typeAlias>
        <typeAlias type="com.example.practice_mybatis.domain.BoardFile" alias="boardFile"></typeAlias>
        <typeAlias type="com.example.practice_mybatis.dto.response.GetBoardFileResponseDto"
                   alias="getResponseBoardFile"></typeAlias>
    </typeAliases>
</configuration>
